@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;800&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    background-image: linear-gradient(to left top, #3CDC78, #86DF7D, #B3E38B, #D3E6A1, #EAEBBC, #E7EBC2, #E5EBC7, #E3EBCD, #C9E5C1, #A9DFBC, #81D9BE, #4BD2C8);
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

/* ============ */



/* Header */

#header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#header p {
    font-weight: 800;
}

#reset {
    background: #00C9A7;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    color: #FBEAFF;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 35px;
    transition: 0.5s;
}

#reset:hover {
    background: #845EC2;
}

/* Header */



/* Hero Area */

#hero-area {
    padding: 45px 0 0;
    text-align: center;
    position: relative;
}

#hero-area h2 {
    font-size: 30px;
}

#guess {
    background: #FFFFFF;
    width: 200px;
    padding: 20px;
    text-align: center;
    margin: 10px auto;
    font-size: 30px;
}

#win {
    display: none;
    background-image: url(img/win.png);
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    margin: 10px auto;
    height: 65px;
}

#hide {
    position: absolute;
    background: #FFFFFF;
    background-image: url(img/warning.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    width: 200px;
    height: 79px;
    left: 50%;
    margin-left: -100px;
    bottom: 0;
}

/* Hero Area */



/* Message Info */

#message-info {
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;
}

#message-info p {
    font-size: 20px;
    font-weight: 500;
}

/* Message Info */



/* Main Area */

#main-body {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.input-area {
    display: flex;
    flex-basis: 48%;
    margin-right: 4%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-area input {
    border-radius: 5px;
    padding: 10px;
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

#input {
    background: #FFFFFF;
    border: 1px solid #CCC;
    text-align: center;
    outline: none;
}

#submit {
    background: #009EFA;
    color: #FBEAFF;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    transition: 0.5s;
}

#submit:hover {
    background: #845EC2;
}

.status-area {
    flex-basis: 48%;
    margin-top: 10px;
}

/* Main Area */



/* Responsive */

@media (max-width: 400px) {
    .status-area {
        font-size: 11px;
        margin-top: 13px;
    }
}

/* Responsive */